@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.container {
  width: 1140;
  margin: 0 auto;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1440;
  margin: 0 auto;
}

.product-img-chil {
  width: 232px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}
.product-img {
  width: 224px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.2196078431);
}
.product-name {
  font-size: 19px;
}
.product-price {
  font-size: 25px;
  color: rgb(19, 115, 241);
}

.product-name {
  position: relative;
}

.header-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.555);
}

.header-container:nth-child(1) {
  padding-left: 15px;
}

.header-container:last-child {
  padding-right: 15px;
}

.head-callnumber {
  font-weight: 700;
}

.head-text {
  color: rgba(128, 128, 128, 0.555);
  align-items: center;
}

.head-icon {
  color: rgba(128, 128, 128, 0.555);
  display: flex;
  gap: 12px;
}

.carousel-caption {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  margin-left: 30px;
  z-index: 1;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item.active {
  position: relative;
}

.hero-slide {
  position: absolute;
  top: 200px;
  left: 77px;
}

.hero-slide {
  width: 545px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-show-bt {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  width: 188px;
  color: black;
  font-weight: 600;
  text-align: center;
}

.hero-show-bt:hover {
  background-color: rgb(201, 192, 192);
}

.hero-title {
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
}

.intro-container {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-container-title {
  font-size: 30px;
  font-weight: 700;
}
.intro-container-drop {
  padding-right: 32px;
}

.feature {
  margin-top: 50px;
  margin-bottom: 50px;
}
.feature-container {
  display: flex;
  flex-direction: column;
  display: block;
  margin: 0 auto;
}
.feature-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.feature-title {
  margin: 0px;
  font-size: 36px;
  font-weight: 800;
}
.feature-viewbt {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.feature-viewbt:hover {
  color: blue;
  text-decoration: underline;
}
.feature-product-list {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}
.feature-product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 221px;
  gap: 10px;
}

.notdropdown-link {
  text-decoration: none;
  color: black;
}
.notdropdown-link:hover {
  color: blue;
  text-decoration: underline;
}

.btn-group:hover {
  color: blue;
  text-decoration: underline;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 95px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.footer-director {
  flex: 1;
  list-style: none;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-icon {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0px;
}

.director-item-link {
  text-decoration: none;
  color: rgba(145, 144, 144, 0.747);
}

.director-title {
  margin-bottom: 15px;
  font-size: 19px; /* Thêm khoảng cách dưới tiêu đề */
}

.director-item {
  max-width: 247px;
  word-wrap: break-word;
}
.director-item :hover {
  color: black;
  transition: 0.4s linear;
}

.category-container {
  display: grid;
  grid-template-columns: 770px 520px;
  grid-template-areas: "a b" "a c";
  gap: 20px;
  margin-bottom: 100px;
  grid-template-rows: 300px 300px;
}
.category-picture:nth-child(1) {
  grid-area: a;
}
.category-picture:nth-child(2) {
  grid-area: b;
}
.category-picture:nth-child(3) {
  grid-area: c;
}
.category-title {
  font-size: 63px;
  font-weight: 900;
  line-height: 1;
}
.category-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-collection-link {
  text-decoration: none;
  color: black;
}
.category-collection-link:hover {
  color: blue;
  -webkit-text-decoration: solid blue;
          text-decoration: solid blue;
}
.category-desk {
  color: rgba(128, 128, 128, 0.8);
}
.category-heading {
  color: rgba(128, 128, 128, 0.8);
  width: 194px;
  font-size: 25px;
}
.category-heading-small {
  color: rgba(128, 128, 128, 0.8);
}

.category-picture {
  position: relative;
  border-radius: 50px;
}

.category-content-small {
  position: absolute;
  top: 68px;
  left: 54px;
  width: 176px;
}

.category-content-big {
  position: absolute;
  bottom: 131px;
  right: 118px;
  width: 245px;
}/*# sourceMappingURL=index.css.map */